# Bookerics config - edit and rename this file to .env
BOOKMARK_NAME=bookyournamehere

AWS_S3_BUCKET=bookyournameheres
AWS_DEFAULT_REGION=us-east-1                       # change to the area closest to you
AWS_ACCESS_KEY_ID=PUT-YOUR-ACCESS-KEY-ID-HERE      # find this in AWS IAM security credentials
AWS_SECRET_ACCESS_KEY=PUT-YOUR-SECRET-ACCESS-KEY-HERE

GIPHY_API_KEY=PUT-YOUR-GIPHY-API-KEY-HERE          # this is to amuse you if you're missing a screenshot
                                                   # https://developers.giphy.com/dashboard/?create=true

# RSS Feed Configuration
RSS_ID="https://bookyournames.com/"
RSS_TITLE="bookerics"
RSS_DESCRIPTION="bookmarks, but for Your Names"
RSS_AUTHOR_NAME="Your Name"
RSS_AUTHOR_EMAIL="yourname@bookyournames.com"
RSS_LINK="https://bookyournames.com"
RSS_LOGO="bookyournames.png"
RSS_LANGUAGE="en"
