# RSS file that gets generated frequently
feeds/rss.xml

# ...which updates the SQLite database
*.db

# Environments
.env
.venv

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Compiled Python files
bookerics/__pycache__/

# Session files
.sesskey
