{% extends "base_table.html" %}

{% block content_title %}
{% endblock %}

{% block content_tab_class %} active{% endblock %}

{% block inner_content %}
  {# add filters #}
  <table class="table table-striped large cell-content">
    <thead>
      <tr>
        {% for column in columns %}
          <th>
            {{ column }}
          </th>
        {% endfor %}
        {% if not dataset.is_readonly and table_pk %}<th></th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in query %}
        <tr>
          {% for field in field_names %}
            {% set value = row[field] %}
            <td>
              {% if value is none %}
                <code>NULL</code>
              {% else %}
                {{ value|value_filter|safe }}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
